@font-face {
    font-family: "quicksand";
    src: url("fonts/Quicksand-Regular.otf");
}
@font-face {
    font-family: "aftaserif";
    src: url("fonts/AftaSerifThin-Regular.otf");
}
body {
    font-family: quicksand;
    margin: 0 auto;
    width: 64%;
    max-width: 1400px;
    background-color: white;
}
nav {
    width: 100%
}
nav ul {
    display: table;
    list-style: none;
    width: 100%;
    padding: 0px;
}
nav li {
    display: table-cell;
    text-align: center;
}
nav li:first-child {
    text-align: left;
}
nav li:last-child {
    text-align: right;
}
nav a {
    text-decoration: none;
    color: #b3b3b3;
}
nav a:hover {
    color: black;
}
h2 {
    font-family: quicksand;
    padding-top: 20px;
    color: #5c4562;
}
bold {
    -webkit-text-stroke: 1px black;
}
#current {
    padding-bottom: 10px;
    color: black;
    border-bottom: 2px solid black;
}
#wrapper {
    font-family: aftaserif;
}
.left {
    float: left;
}
.regText ul {
    list-style-image: url("images/listSymbol.png");
}
.regText li {
    margin-left: -40px;
    padding-bottom: 20px;
}
.right {
    float: right;
}
#tod {
    text-align: center;
}
#clear {
    clear: both;
    padding: 0px;
    margin: 0px;
}
#quote {
    margin-top:15%;
    font-size: 30px;
}