@font-face {
    font-family: "quicksand";
    src: url("../fonts/Quicksand-Regular.otf");
}
@font-face {
    font-family: "aftaserif";
    src: url("../fonts/AftaSerifThin-Regular.otf");
}
/*Algemeen*/

body {
    font-family: quicksand;
    background-color: white;
    /* custom scrollbar IE: */
    scrollbar-face-color: #5c4562;
    scrollbar-highlight-color: #5c4562;
    scrollbar-track-color: rgba(156, 111, 163, 0.72);
    scrollbar-arrow-color: #5c4562;
    scrollbar-shadow-color: #5c4562;
    scrollbar-dark-shadow-color: #5c4562;
}
/* custom scrollbar Chrome, Opera & safari*/

::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(156, 111, 163, 0.72);
}
::-webkit-scrollbar-thumb {
    background-color: #5c4562;
    height: 20px;
}
header {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2%;
}
header #mainLogo img {
    width: 150px;
}
header #socialNetwork img {
    float: right;
    padding-left: 7px;
    margin-top: 20px;
}
nav {
    margin: 0 auto;
    width: 64%;
    max-width: 1400px;
}
nav ul {
    display: table;
    list-style: none;
    width: 100%;
    padding: 0px;
}
nav li {
    display: table-cell;
    text-align: center;
}
nav li:first-child {
    text-align: left;
}
nav li:last-child {
    text-align: right;
}
nav a {
    text-decoration: none;
    color: #b3b3b3;
}
nav a:hover {
    color: black;
}
h2 {
    font-size: 30px;
    font-family: quicksand;
    color: #5c4562;
}
h3 {
    font-family: quicksand;
    color: #5c4562;
}
bold {
    -webkit-text-stroke: 1px;
}
footer {
    margin-top: 8%;
    border-top: 1px #5c4562 solid;
    text-align: center;
    padding-top: 1.5%;
}
footer ul {
    padding: 0px;
    display: table;
    list-style: none;
    margin: 0 auto;
    width: 80%;
}
footer li {
    display: table-cell;
    text-align: center;
}
footer img {
    height: 50px;
    padding-top: 2%;
}
footer a {
    text-decoration: none;
    color: #5c4562;
}
#current {
    padding-bottom: 10px;
    color: black;
    border-bottom: 2px solid #5c4562;
}
#wrapper {
    margin: 0 auto;
    width: 64%;
    max-width: 1400px;
    font-family: aftaserif;
}
#backToTop {
    position: fixed;
    top: 90%;
    right: 15%;
}
#language {
    position: relative;
}
#language ul {
    display: none;
    list-style: none;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    color: white;
    text-align: center;
}
#language a {
    text-decoration: none;
    color: white;
}
#language li {
    font-size: 1vw;
    padding: 5px 10px;
    background-color: #5c4562;
}
#language:hover ul {
    display: block;
    position: absolute;
    top: 25px;
    right: -2.8vw;
}
#language a:hover {
    text-decoration: none;
    color: #5c4562;
    background-color: white;
}
#language a:hover li {
    background-color: white;
}
.clear {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.regText ul {
    list-style-image: url("../images/listSymbol.png");
}
.regText li {
    margin-left: -40px;
    padding-bottom: 20px;
}
.inline-link {
    text-decoration: none;
    color: #5c4562;
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
}
/*index*/

#subNav {
    margin-top: 5%;
    width: 100%;
}
#subNav ul {
    padding-left: 0;
}
#subNav li {
    font-family: quicksand;
    font-size: 20px;
    font-size: 1.5vw;
    position: relative;
    list-style: none;
    float: left;
    margin: 0.5%;
    width: 19%;
    padding-bottom: 19%;
    background-color: #5c4562;
}
#subNav li div {
    text-align: center;
    position: absolute;
    margin-top: 30%;
    height: 100%;
    width: 100%;
}
#subNav li:hover {
    opacity: 0.73;
}
#subNav a {
    text-decoration: none;
    color: white;
}
#tod-aurelis {
    margin-top: 10%;
    text-align: center;
    background-image: url(../images/VakjeAurelis_01.png);
    background-size: 100% 100%;
    padding-bottom: 20px;
    font-size: 15px;
}
#tod-aurelis h2 {
    font-size: 20px;
}
.quotations {
    font-size: 30px;
    color: #5c4562;
}
#quote {
    margin-top: 15%;
    font-size: 30px;
}
.left-wide {
    width: 65%;
    float: left;
}
.right-small {
    width: 30%;
    float: right;
}
/* AurelisOnline*/

#aurelisOnlineLink {
    text-align: center;
}
#aurelisOnlineLink a {
    text-decoration: none;
    color: black;
}
.left-regular {
    width: 50%;
}
.right-regular {
    width: 45%;
}
.right-regular h2 {
    border-top: 0;
}
.signin h2 {
    margin-bottom: 65px;
}
.signin form {
    background-image: url("../images/VakjeAurelis_01.png");
    background-color: #66506B;
    background-size: 100% 100%;
}
.inline-link {
    text-decoration: none;
    color: #382340;
    font-weight: bold;
}
.loginVoornaam,
.loginPaswoord {
    padding: 3%;
    margin-left: 15%;
    border-style: none;
    width: 63%;
    background-color: #DED9DF;
    font-family: "aftaserif";
}
.loginVoornaam {
    margin-top: 27%;
}
.loginPaswoord {
    margin-top: 5%;
}
.forgot {
    float: right;
    margin-right: 16%;
    font-size: 0.75em;
    text-decoration: none;
    color: #FFF;
    font-family: aftaserif;
}
.signinButton {
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 15%;
    margin-top: 10%;
    background-color: #382340;
    border-style: none;
    text-align: center;
    color: #FFF;
    float: left;
    font-family: aftaserif;
}
.account {
    font-size: 0.85em;
    margin-top: 30%;
    margin-left: 15%;
    margin-bottom: 3%;
    color: #FFF;
    font-family: aftaserif;
}
.signupButton {
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 15%;
    margin-bottom: 35%;
    background-color: #382340;
    border-style: none;
    text-align: center;
    color: #FFF;
    float: left;
    font-family: aftaserif;
}
/* Academy */

#subNavScroll {
    margin-top: 5%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
#scroll {
    width: 180%;
}
#subNavScroll ul {
    padding-left: 0;
}
#subNavScroll li {
    font-family: quicksand;
    font-size: 20px;
    font-size: 1.4vw;
    position: relative;
    list-style: none;
    float: left;
    margin: 0.5%;
    width: 10.1%;
    padding-bottom: 10%;
    background-color: #5c4562;
}
#subNavScroll li div {
    text-align: center;
    position: absolute;
    margin-top: 30%;
    height: 100%;
    width: 100%;
}
#subNavScroll li:hover {
    opacity: 0.73;
}
#subNavScroll a {
    text-decoration: none;
    color: white;
}
/* Weekly Session */

#tod-weekly img {
    margin-left: -50%;
}
#tod-weekly {
    margin-top: 30%;
    margin-left: -20px;
    text-align: center;
}
.sessionForm object {
    margin-left: 15%;
}
.sessionForm form {
    background-image: url("../images/VakjeAurelis_01.png");
    background-color: #66506B;
    background-size: 100% 100%;
    padding-top: 20%;
    padding-bottom: 15%;
}
.sessionForm input,
textArea {
    padding: 3%;
    margin-left: 15%;
    margin-top: 4%;
    border-style: none;
    width: 65%;
    background-color: #DED9DF;
    font-family: "aftaserif";
}
.sessionForm button {
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 15%;
    margin-top: 4%;
    background-color: #382340;
    border-style: none;
    text-align: center;
    color: #FFF;
    float: left;
    font-family: aftaserif;
}
/* Research */

#source-quote {
    font-family: quicksand;
    color: #afaaaa;
    font-size: 12px;
    line-height: 20px;
    margin-top: 2%;
}
/* Library */

#subNavLibrary {
    margin-top: 5%;
    width: 100%;
}
.hiddenText {
    display: none;
}
#subNavLibrary ul {
    font-size: 0;
    line-height: 0;
}
#subNavLibrary li {
    line-height: 14px;
    font-size: 14px;
    width: 15.6%;
    height: 0;
    margin: 0.5%;
    padding-bottom: 15.6%;
    display: inline-block;
    background-color: #5c4562;
    position: relative;
    /*overflow:hidden;*/
}
#subNavLibrary a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
}
#subNavLibrary a div {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    font-size: 1vw
}
#subNavLibrary a:hover div {
    padding-bottom: 70%;
}
#subNavLibrary a:hover .hiddenText {
    display: inline-block;
    height: 100%;
    font-size: 1vw;
    padding-left: 1px;
}
#subNavLibrary a:hover {
    width: 100%;
    background: #937b9f;
    overflow: visible;
    z-index: 2;
}
/* Sites */

#sites {
    margin-top: 5%;
    width: 100%;
    margin-left: -1.5%;
}
#sites lu {
    padding-left: 0;
}
#sites li {
    font-family: quicksand;
    font-size: 15px;
    font-size: 1vw;
    position: relative;
    list-style: none;
    float: left;
    margin: 0.5%;
    width: 15.6%;
    padding-bottom: 15.6%;
    background-color: #5c4562;
}
#sites li .hidden {
    display: none;
    font-size: 0.78vw;
}
#sites li div {
    text-align: center;
    position: absolute;
    margin-top: 10%;
    height: 100%;
    width: 100%;
}
#sites li:hover {
    opacity: 0.73;
}
#sites li:hover .hidden {
    display: inline;
}
#sites li:hover .shown {
    display: none;
}
#sites a {
    text-decoration: none;
    color: white;
}
/* Contact */

.mailto {
    padding-bottom: 15%;
}
.mailto a:link {
    text-decoration: none;
}
/* FAQ's*/

.faq .answer {
    display: none;
}
.faq li:hover .answer {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
}
@media (max-width: 900px) {
    nav li {
        font-size: 1.5vw;
        padding: 5px;
    }
    .left-wide,
    .right-small {
        width: 100%;
        float: none;
    }
    /* INDEX */
    .quotations {
        font-size: 20px;
    }
    #quote {
        font-size: 20px;
    }
    /* AURELIS ONLINE */
    .left-regular,
    .right-regular {
        float: none;
        width: 100%;
    }
    /* WEEKLY SESSION */
    #tod-weekly {
        margin-top: 0%;
        margin-left: -20px;
        text-align: center;
    }
    /* LIBRARY */
    #subNavLibrary ul {
        padding-left: 0;
    }
    #subNavLibrary li {
        width: 32%;
        padding-bottom: 32%;
    }
    #subNavLibrary a div {
        font-size: 2.5vw;
        line-height: 3vw;
    }
    #subNavLibrary li:hover .hiddenText {
        padding-top: 25%;
        font-size: 2.5vw;
        line-height:3vw;
    }
    /* SITES */
    #sites li {
        font-size: 2vw;
        margin: 0.5%;
        width: 32%;
        padding-bottom: 64%;
        background-color: #5c4562;
    }
    #sites li .hidden {
        display: none;
        font-size: 2vw;
    }
}
@media (max-width: 600px) {
    body {
        font-size: 150%;
    }
    #wrapper {
        width: 90%;
    }
    #backToTop {
        right: 0%;
    }
    /* INDEX */
    #subNav li {
        font-size: 2vw;
    }
    #tod-aurelis {
        display: none;
    }
    /* ACADEMY */
    #subNavScroll li {
        font-size: 4vw;
        margin: 0.5%;
        width: 10.1%;
        padding-bottom: 10%;
    }
    /* WEEKLY SESSIONS */
    #scroll {
        width: 400%
    }
    #tod-weekly {
        display: none;
    }
    /* LIBRARY */
    #subNavLibrary li {
        width: 49%;
        padding-bottom: 49%;
    }
    #subNavLibrary li a div {
        font-size: 4vw;
        line-height: 4vw;
    }
    #subNavLibrary li:hover .hiddenText {
        padding-top: 0%;
        font-size: 4vw;
        line-height: 4vw;
    }
    #subNavLibrary ul {
        padding-left: 0;
    }
    /* SITES */
    #sites li {
        font-size: 15px;
        font-size: 4vw;
        width: 49%;
        padding-bottom: 49%;
    }
    #sites li .hidden {
        display: none;
        font-size: 3vw;
    }
}