@font-face {
    font-family: "quicksand";
    src: url("../fonts/Quicksand-Regular.otf");
}
@font-face {
    font-family: "aftaserif";
    src: url("../fonts/AftaSerifThin-Regular.otf");
}
body {
    font-family: quicksand;
    background-color: white;
    min-width: 900px;
       /* custom scrollbar IE: */
    scrollbar-face-color: #5c4562;
    scrollbar-highlight-color: #5c4562;
    scrollbar-track-color: rgba(156,111,163,0.72);
    scrollbar-arrow-color: #5c4562;
    scrollbar-shadow-color: #5c4562;
    scrollbar-dark-shadow-color: #5c4562;
}
/* custom scrollbar Chrome, Opera & safari*/
::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(36, 56, 93, 0.50);
}
::-webkit-scrollbar-thumb {
    background-color: #24385D;
    height: 20px;
}
header {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
}
header #mainLogo img {
    width: 300px;
}
header #socialNetwork img {
    float: right;
    padding-left: 7px;
    margin-top: 20px;
}
nav {
    margin: 0 auto;
    width: 64%;
    max-width: 1400px;
}
nav ul {
    display: table;
    list-style: none;
    width: 100%;
    padding: 0px;
}
nav li {
    display: table-cell;
    text-align: center;
}
nav li:first-child {
    text-align: left;
}
nav li:last-child {
    text-align: right;
}
nav a {
    text-decoration: none;
    color: #b3b3b3;
}
nav a:hover {
    color: black;
}
h2 {
    font-size: 30px;
    font-family: quicksand;
    color: #24385D;
}
bold {
    -webkit-text-stroke: 1px;
}
footer {
    margin-top: 8%;
    border-top: 1px #24385D solid;
    text-align: center;
    padding-top: 1.5%;
}
footer ul {
    padding: 0px;
    display: table;
    list-style: none;
    margin: 0 auto;
    width: 80%;
}
footer li {
    display: table-cell;
    text-align: center;
}
footer img {
    height: 50px;
    padding-top: 2%;
}
footer a {
    text-decoration: none;
    color: #24385D;
}
#current {
    padding-bottom: 10px;
    color: black;
    border-bottom: 2px solid #24385D;
}
#wrapper {
    margin: 0 auto;
    width: 64%;
    max-width: 1400px;
    font-family: aftaserif;
}
#subNav {
    margin-top: 5%;
    width: 100%;
}
#subNav ul {
    padding-left: 0;
}
#subNav li {
    font-family: quicksand;
    font-size: 25px;
    position: relative;
    list-style: none;
    float: left;
    margin: 0.5%;
    width: 24%;
    padding-bottom: 24%;
    background-color: #24385D;
}
#subNav li div {
    text-align: center;
    position: absolute;
    margin-top: 30%;
    height: 100%;
    width: 100%;
}
#subNav li:hover {
    opacity: 0.73;
}
#subNav a {
    text-decoration: none;
    color: white;
}
#backToTop {
    position: fixed;
    top: 90%;
    right: 15%;
}
#language {
    position: relative;
}
#language ul {
    display: none;
    list-style: none;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    color: white;
    text-align: center;
}
#language a{
    text-decoration: none;
    color:white;
}
#language li {
    font-size: 1vw;
    padding: 5px 10px;
    background-color: #24385D;
}
#language:hover ul {
    display: block;
    position: absolute;
    top: 24px;
    right: -2.5vw;
}
#language a:hover{
    text-decoration: none;
    color:#24385D;
    background-color: white;
}
#language a:hover li{
    background-color:white;
}
.clear {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.left {
    float: left;
}
.regText ul {
    list-style-image: url("../images/listSymbol.png");
}
.regText li {
    margin-left: -40px;
    padding-bottom: 20px;
}
.right {
    float: right;
}
}
#clear {
    clear: both;
    padding: 0px;
    margin: 0px;
}
footer {
    margin-top: 8%;
    border-top: 1px #24385D solid;
    text-align: center;
    padding-top: 1.5%;
}
footer ul {
    padding: 0px;
    display: table;
    list-style: none;
    margin: 0 auto;
    width: 80%;
}
footer li {
    display: table-cell;
    text-align: center;
}
footer img {
    height: 50px;
    padding-top: 2%;
}
footer a {
    text-decoration: none;
}
/* Empathy for health*/

.quotations {
    font-size: 30px;
    color: #24385D;
}
#quote {
    margin-top: 10%;
    font-size: 20px;
    line-height: 40px;
}
.left-wide {
    width: 65%;
    float: left;
}
.right-small {
    width: 30%;
    float: right;
}
#source-quote {
    font-family: quicksand;
    color: #afaaaa;
    font-size: 12px;
    line-height: 20px;
    margin-top: 2%;
}
/* Contact */ 
.mailto {
 padding-bottom: 15%;   
    
}
.mailto a:link {
    text-decoration: none;
}

/* FAQ's */
.left-regular {
    width: 50%;
}
.right-regular {
    width: 45%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.sessionForm form {
    background-image: url("../images/VakjeAurelis_01%20copy.png");
    background-color: rgba(21, 35, 62, 0.88);
    background-size: 100% 100%;
    padding-top: 20%;
    padding-bottom: 15%;
}
.sessionForm input,
textArea {
    padding: 3%;
    margin-left: 15%;
    margin-top: 4%;
    border-style: none;
    width: 65%;
    background-color: rgb(215, 222, 235);
    font-family: "aftaserif";
}
.sessionForm button {
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 15%;
    margin-top: 4%;
    background-color: #151f2f;
    border-style: none;
    text-align: center;
    color: #FFF;
    float: left;
    font-family: aftaserif;
}
.faq .answer {
    display: none;
    
}
.faq li:hover .answer {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    
}