@font-face {
    font-family: "quicksand";
    src: url("../fonts/Quicksand-Regular.otf");
}
@font-face {
    font-family: "aftaserif";
    src: url("../fonts/AftaSerifThin-Regular.otf");
}
body {
   font-family: quicksand;
    background-color: white;
    min-width: 900px;
}
header {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
}
header #mainLogo img {
    width: 300px;
}

header #socialNetwork img {
    float: right;
    padding-left: 7px;
    margin-top: 20px;
}
nav {
    margin: 0 auto;
    width: 64%;
    max-width: 1400px;
}
nav ul {
    display: table;
    list-style: none;
    width: 100%;
    padding: 0px;
}
nav li {
    display: table-cell;
    text-align: center;
}
nav li:first-child {
    text-align: left;
}
nav li:last-child {
    text-align: right;
}
nav a {
    text-decoration: none;
    color: #b3b3b3;
}
nav a:hover {
    color: black;
}
h2 {
    font-size: 30px;
    font-family: quicksand;
    color: #5c4562;
}
bold {
    -webkit-text-stroke: 1px;
}
footer {
    margin-top: 8%;
    border-top: 1px #5c4562 solid;
    text-align: center;
    padding-top: 1.5%;
}
footer ul {
    padding: 0px;
    display: table;
    list-style: none;
    margin: 0 auto;
    width: 80%;
}
footer li {
    display: table-cell;
    text-align: center;
}
footer img {
    height: 50px;
    padding-top: 2%;
}
footer a {
    text-decoration: none;
}
#current {
    padding-bottom: 10px;
    color: black;
    border-bottom: 2px solid #5c4562;
}
#wrapper {
    margin: 0 auto;
    width: 64%;
    max-width: 1400px;
    font-family: aftaserif;
}
#backToTop {
    position: fixed;
    top: 90%;
    right: 15%;
}

.clear {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.left {
    float: left;
}
.regText ul {
    list-style-image: url("../images/listSymbol.png");
}
.regText li {
    margin-left: -40px;
    padding-bottom: 20px;
}
.right {
    float: right;

}

}
#clear {
    clear: both;
    padding: 0px;
    margin: 0px;
}
footer {
    margin-top: 8%;
    border-top: 1px #24385D solid;
    text-align: center;
    padding-top: 1.5%;
}
footer ul {
    padding: 0px;
    display: table;
    list-style: none;
    margin: 0 auto;
    width: 80%;
}
footer li {
    display: table-cell;
    text-align: center;
}
footer img {
    height: 50px;
    padding-top: 2%;
}
footer a {
    text-decoration: none;

}

